* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: white;
  flex-direction: column;
  min-width: 100px;
} */

.scroll-container {
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(
    90deg,
    transparent,
    #fff 20%,
    #fff 80%,
    transparent
  );
}

.scroll-container div {
  white-space: nowrap;
  animation: scroll var(--time) linear infinite;
  animation-delay: calc(var(--time) * -1);
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.scroll-container div div {
  display: inline-flex;
  margin: 10px;
  letter-spacing: 0.2em;
  background: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  transition: 0.5s;
  width: 120px;
}

.scroll-container div div :hover {
  background: #3fd2f9;
  cursor: pointer;
}

img {
  width: 100px;
}
