.recContainer {
  width: 100%;
  height: fit-content;
  background-color: white;
  padding: 20px 50px;
  margin-bottom: 20px;
}

.wrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-top: 20px;
  padding: 10px 0;
}

.wrapper a {
  text-decoration: none;
  color: black;
  font-weight: 800;
  width: 120px !important;
}

.movieImg {
  width: 120px;
  height: 180px;
  border-radius: 8px;
  box-shadow: 0 0 5px black;
}
