.recContainer .sliderContainer .slick-slider .slick-next::before {
  font-size: 25px !important;
  line-height: 0 !important;
  z-index: 2 !important;
  color: rgb(108, 107, 107) !important;
}

.recContainer .sliderContainer .slick-slider .slick-prev::before {
  font-size: 25px !important;
  line-height: 0 !important;
  z-index: 2 !important;
  color: rgb(108, 107, 107) !important;
}

.recContainer
  .sliderContainer
  .slick-slider
  .slick-list
  .slick-track
  .slick-slide {
  width: 300px !important;
  margin-right: 20px;
}

.recContainer .sliderContainer .slick-slider .slick-list {
  width: 900px !important;
  height: 300px !important;
  margin: 10px 20px !important;
  border-radius: 5px;
}

.recContainer .sliderContainer .slick-slider .slick-list .slick-track {
  width: 900px !important;
  padding: 10px;
  display: flex;
}

.recContainer .sliderContainer .slick-slider ul.slick-dots {
  bottom: 10px !important;
}

/* .slick-dots li button::before {
  color: rgb(0, 0, 0) !important;
} */
