.button {
  position: fixed;
  right: 40px;
  bottom: 40px;
  font-size: 50px;
  z-index: 1;
  cursor: pointer;
  color: rgb(149, 98, 232);
  background-color: white;
  border-radius: 50%;
  transition: all 0.4s ease;
}

.button:hover {
  animation: upAndDown 1s infinite ease-in-out;
  box-shadow: 0 0 5px white;
  background-color: rgb(243, 243, 243);
  color: rgb(102, 41, 201);
}

@keyframes upAndDown {
  0% {
    transform: translateY(0px);
  }
  90% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
