form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.input {
  width: 25rem;
  height: 30px;
  border-radius: 15px;
  border: none;
  padding-left: 10px;
}

.submitBtn {
  padding: 0 20px;
  height: 30px;
  border-radius: 20px;
  border: none;
  margin-left: 10px;
}

/* ===== Movies ===== */

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  width: 90%;
  padding: 20px;
  margin: 0 auto;
}

.movieContainer {
  width: 150px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  outline: 2px solid rgba(241, 218, 218, 0.653);
  border-radius: 8px;
  transition: all 0.3s linear;
  background-color: black;
  animation: scaleIn 0.5s linear;
  animation-fill-mode: both;
}

.movieContainer:hover {
  outline: 2px solid red;
  box-shadow: 0px 0px 15px rgb(250, 67, 67);
  transform: scale(1.05, 1.05) !important;
}

.poster {
  width: 100%;
  height: 220px;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.movieTitle {
  width: 100%;
  font-size: 14px;
  padding: 5px 10px;
  color: white;
}

.date {
  width: 100%;
  font-size: 10px;
  color: grey;
  padding: 0px 10px;
}

@keyframes scaleIn {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}
