* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(32, 32, 32); /*#052044*/
  color: white;
}

/* ===== Skeleton Div ===== */
.skeletonDiv {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
}

/* ===== Trending Container ===== */

.container {
  width: 100%;
  height: 490px;
  /* margin: 10px 0; */
  /* padding: 10px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-position: 0 -50px;
}

/* ===== Header ===== */

.sectionHeader {
  text-align: center;
  margin-top: 8px;
}

/* ===== Wrapper for button and toggle button ===== */

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 7%, rgba(0, 0, 0, 0) 70%);
}

/* ===== Movie and Tv Shows Button ===== */

.movieTvshow {
  display: flex;
}

.movieBtn,
.tvBtn {
  padding: 10px;
  color: white;
  width: 100px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
}

.movieIcon,
.tvIcon {
  width: 50px;
  height: auto;
  cursor: pointer;
  margin: 0 10px;
  transition: all 1s ease-in-out;
}

/* ===== Day and Week Toggle Button ===== */

.toggle-tab {
  text-align: center;
  display: flex;
  opacity: 0.9;
  width: 100px;
}

.toggle-tab button {
  width: 100px;
  border: none;
  padding: 10px;
  color: white;
  font-size: 14px;
  font-weight: 600;
}

/* ===== Poster image link ===== */

.sliderContainer a {
  text-decoration: none;
  color: black;
  font-weight: 800;
  width: 150px !important;
}

/* ===== Slider Container ===== */

.sliderContainer {
  width: 100%;
  height: 320px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
