* {
  scrollbar-width: thin;
}

.buttonNext {
  position: fixed;
  right: 400px;
  bottom: 20px;
  padding: 10px;
  font-size: xx-large;
  width: 60px;
  height: auto;
  border-radius: 50%;
  border: none;
  z-index: 5;
  margin: 5px;
}

.buttonPrev {
  position: fixed;
  left: 400px;
  bottom: 20px;
  padding: 10px;
  font-size: xx-large;
  width: 60px;
  height: auto;
  border-radius: 50%;
  border: none;
  z-index: 5;
  margin: 5px;
}

.contentWrapper {
  background-color: rgba(71, 71, 71, 0.607);
  width: 100%;
  height: 500px;
  backdrop-filter: grayscale(50%) blur(2px);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 60px 130px;
  box-shadow: inset 5px 5px 40px black, inset -5px -5px 40px black;
}
