.carouselItem{
    display: flex;
    flex-direction: column;
    object-fit: contain;
    padding: 5px;
}

.carouselItem__img{
    border-radius: 10px;
    margin-bottom: 2px;
    box-shadow: 0 0 5px black;
}